.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  position: relative;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__container_type_preview {
  position: relative;
  padding: 0;
  background: transparent;
  max-width: unset;
  width: auto;
}

.modal__title {
  margin: 0 auto 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  padding: 4px 0;
}

.modal__close-button {
  background-image: url(/images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  size: fit-content;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  opacity: 40%;
}

.modal__close-button_type_preview {
  background-image: url(/images/close-icon-light.svg);
  position: absolute;
  top: 0;
  right: -52.5px;
  opacity: 1;
  padding: 0;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 100;
}

.modal__close-button_type_preview:hover {
  cursor: pointer;
  opacity: 40%;
}

.modal__form {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 32px;
}

.modal__label {
  gap: 8px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #212121;
  opacity: 40%;
  margin-top: 8px;
  padding: 16px 12px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__input:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__submit-button {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  width: 156px;
  height: 52px;
  color: #fff;
  background-color: black;
  border-radius: 8px;
  border: none;
  padding: 18px auto;
}

.modal__submit-button:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__image {
  object-fit: contain;
  border: none;
  border-radius: 8px;
  max-height: 80vh;
  max-width: 80vw;
  align-self: center;
  overflow: hidden;
  display: block;
}

.modal__caption {
  margin: 8px auto 0 0;
  padding: 4px 8px;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  width: fit-content;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (max-width: 1006px) {
  .modal {
    max-width: 1006px;
  }

  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__container_type_preview {
    padding: 0px;
    width: auto;
  }

  .modal__title {
    margin: 0 auto 24px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_type_preview {
    top: -48px;
    right: 0px;
  }

  .modal__form {
    row-gap: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-button {
    width: 100%;
    padding: 18px auto;
  }

  .modal__image {
    width: 288px;
    max-width: none;
    max-height: none;
  }

  .modal__caption {
    font-size: 16px;
  }
}
